@charset "UTF-8";
/* CSS Document */

html {
	font-size: 16px;
	font-size: 62.5%; /* Set base font-size to 10px */
}

html, body {
	
	width: 100%;
	height: 100%;
	font-family: "lato",sans-serif;
	font-weight: 200;
	color: #f8f8f8;
}

.invisible {
	height:100vh;
}

.relative {
	position: relative;
}

.slide {
	
	/*position: fixed; /*absolute = "like fixed, but relative to the nearest positioned ancestor*/
	top: 0;
	left: 0;
	width: 100%; /* 50% of the #slides div*/
	height: 100vh; 
	text-align: center;
			
}

 /* FONT STYLES
   ============================= */

h1, h2, h3, #slide-2 blockquote p {
	font-family: "minion-pro",serif;
	font-weight: 400;
	letter-spacing: -.05em;
}


 /* SLIDE 1 STYLES
   ============================= */

#slide-1 {
	
	background: url(../img/slide1.JPG);
	/*background-color:white;*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
	background-attachment: fixed;
	z-index: -4;
	text-align: center;
		
}

#slide-1 h1 {
	font-size: 12rem;
	margin-top: 10%;
}

#slide-1 span {
	display:block;
	font-size: 1.8rem;
	letter-spacing: .3em;
}

#slide-1 hr {
	width: 7.5%;
}

#slide-1 h2 {
	font-size: 6rem;
}


#slide-1 hr.spacer {
	width: 7.5%;
	margin: 0 auto;
	padding: 0;
}

#slide-1 a {
	letter-spacing: .3em;
	text-decoration: none
}

#slide-1 a .link {
	width: 25%;
	display: block;
	margin: 0 auto;
	background-color:rgba(255,255,255,.5);
	padding: 30px;
	color: #718177;
	transition: all 1s;
	border-radius: 1px;
}

#slide-1 a .link:hover {
	background-color:rgba(255,255,255,.9);
	color: #718177;
}

#slide-1 a b {
	font-weight: 400;
	display:block;
	text-transform: uppercase;
}

.center {

	text-align:center;

}


/*UNCOMMENT IF YOU NEED TO DO SOME TESTING WITH SKROLLR SLIDES*/

/*
.caption {
	
	position: absolute;
	bottom: 5%;
	right: 5%;
	text-align: right;
	color: #fff;
	
}

#helper {

	position:absolute;
	left: 0;
	top: 0;
	height: 400%; /*this means that there will be 4 slides
	width: 20px;
	
}

.marker {
	
	height: 25%; /*of helper ; 25% of 400% = 100% 
	width: 100% /*of helper ; 100% of 20px = 20px 
	
}

.red {
	
	background-color: red;
	
}

.green {

	background-color: green;
	
}

.blue {

	background-color: blue;
	
}

.yellow {
	
	background-color: yellow;

}

*/
